<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

<nav th:fragment="navbar">
    <!--<a th:href="@{/}">Accueil</a>-->

    <!-- Visible uniquement si connecté -->
    <div class="d-flex align-items-center gap-1 mb-3" sec:authorize="isAuthenticated()">

        <!-- Uniquement pour l'admin -->
        <a class="btn btn-primary" sec:authorize="hasRole('ADMIN')" th:href="@{/admin/commandes}">Commandes</a>
        <a class="btn btn-primary" sec:authorize="hasRole('ADMIN')" th:href="@{/admin/produits}">Produits</a>
        <a class="btn btn-primary" sec:authorize="hasRole('ADMIN')" th:href="@{/admin/clients}">Clients</a>

        <!--<a class="btn btn-primary" sec:authorize="hasRole('CLIENT')" th:href="@{/commandes}">Commandes</a>-->
        <!-- Pour tout le monde connecté -->
        <form th:action="@{/logout}" method="post" class="logout-form">
            <button class="btn btn-primary logout-btn" type="submit">
                Déconnexion
            </button>
        </form>
        <span class="text-primary" sec:authentication="name"></span>  <!-- affiche l'email connecté -->

    </div>
</nav>

</body>
</html>