<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/base :: head}"></head>

<body>
<div th:replace="~{layout/base :: layout(~{::section})}">
    <section>
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h1>Récapitulatif des commandes</h1>

            <form method="get">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox"
                           name="seulementCommandes"
                           value="true"
                           th:checked="${seulementCommandes}"
                           onchange="this.form.submit()"/>
                    <label class="form-check-label">Afficher seulement les produits commandés</label>
                </div>
                <input type="hidden" name="seulementCommandes" value="false"/>
            </form>

            <a class="btn btn-primary" th:href="@{/admin/commandes/export}">Exporter en Excel</a>
        </div>
        <table class="table table-striped table-hover table-bordered align-middle">
            <thead>
            <tr>
                <th>Produit</th>
                <th th:each="client : ${clients}" th:text="${client.name}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${products}"
                th:classappend="${product.category == 'boeuf'} ? 'table-boeuf' : (${product.category == 'veau'} ? 'table-veau' : 'table-porc')">
                <td th:text="${product.name}"></td>

                <td th:each="client : ${clients}">

                    <form th:action="@{/admin/commandes/decrement}"
                          method="post">

                        <input type="hidden" name="userId" th:value="${client.id}">
                        <input type="hidden" name="productId" th:value="${product.id}">
                        <input type="hidden" name="seulementCommandes" th:value="${seulementCommandes}">

                        <button type="submit"
                                class="btn btn-link p-0 text-decoration-none"
                                th:disabled="${client.inputMode != 'ORDER'}"
                                th:text="${draftQuantities[client.id] != null && draftQuantities[client.id][product.id] != null
                    ? draftQuantities[client.id][product.id]
                    : '-'}">
                        </button>

                    </form>

                </td>
            </tr>
            </tbody>
        </table>
    </section>
</div>
</body>
</html>