<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:replace="~{layout/base :: layout(~{::section})}">
    <section>
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h1>Récapitulatif des commandes</h1>

            <a class="btn btn-primary" th:href="@{/admin/commandes/export}">Exporter en Excel</a>
        </div>
        <table class="table table-striped table-hover table-bordered align-middle">
            <thead>
            <tr>
                <th>Produit</th>
                <th th:each="client : ${clients}" th:text="${client.name}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.name}"></td>

                <td th:each="client : ${clients}"
                    th:text="${quantities[client.id] != null && quantities[client.id][product.id] != null
            ? quantities[client.id][product.id]
            : '-'}">
                </td>
            </tr>
            </tbody>
        </table>
    </section>
</div>
</body>
</html>