<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/base :: head}"></head>

<body>
<div th:replace="~{layout/base :: layout(~{::section})}">
    <section>
        <form th:action="${client.id} ? @{/admin/clients/{id}(id=${client.id})} : @{/admin/clients}"
              method="post">
            <div class="d-flex align-items-center mb-3">
                <h1 class="me-auto"
                    th:text="${client.id} ? 'Modifier le client' : 'Nouveau client'"></h1>
                <button class="btn btn-primary me-1" type="submit">Enregistrer</button>
                <a class="btn btn-danger" th:href="@{/admin/clients}">Annuler</a>
            </div>



            <input type="text" name="name" th:value="${client.name}" placeholder="Nom"/>
            <input type="email" name="email" th:value="${client.email}" placeholder="Email"/>
            <input type="password" name="password" placeholder="Mot de passe (laisser vide pour ne pas changer)"/>

            <fieldset>
                <legend>Sélectionnez le mode de saisie&nbsp;:</legend>

                <div>
                    <input type="radio"
                           id="stock"
                           name="inputMode"
                           value="STOCK" checked
                           th:checked="${client.inputMode == 'STOCK'}" />
                    <label for="stock">Stock</label>
                </div>

                <div>
                    <input type="radio"
                           id="commande"
                           name="inputMode"
                           value="ORDER"
                           th:checked="${client.inputMode == 'ORDER'}" />
                    <label for="commande">Commande</label>
                </div>
            </fieldset>


            <h3>Produits accessibles</h3>
            <div th:each="product : ${allProducts}">
                <label>
                    <input type="checkbox"
                           name="productIds"
                           th:value="${product.id}"
                           th:checked="${client.accessibleProducts.contains(product)}"/>
                    <span th:text="${product.name}"></span>
                    <small th:text="${product.category}"></small>
                </label>
            </div>
        </form>
    </section>
</div>
</body>
</html>