<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/base :: head}"></head>

<body>
<div th:replace="~{layout/base :: layout(~{::section})}">
    <section>
        <h1 th:text="${product.id} ? 'Modifier le produit' : 'Nouveau produit'"></h1>

        <!-- Si id existe → POST /{id}, sinon → POST / -->
        <form th:action="${product.id} ? @{/admin/produits/{id}(id=${product.id})} : @{/admin/produits}"
              method="post">

            <input type="text" name="name" th:value="${product.name}" placeholder="Nom"/>

            <select name="category">
                <option value="boeuf"  th:selected="${product.category == 'Boeuf'}">Bœuf</option>
                <option value="veau"   th:selected="${product.category == 'Veau'}">Veau</option>
                <option value="porc"   th:selected="${product.category == 'Porc'}">Porc</option>
            </select>


            <button type="submit">Enregistrer</button>
            <a th:href="@{/admin/produits}">Annuler</a>
        </form>
    </section>
</div>
</body>
</html>