<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:replace="~{layout/base :: layout(~{::section})}">
    <section>
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h1>Produits</h1>
            <a class="btn btn-primary"
               th:href="@{/admin/produits/nouveau}">
                Nouveau produit
            </a>
        </div>

        <table class="table table-striped table-hover table-bordered align-middle">
            <tr>
                <th>Nom</th>
                <th>Catégorie</th>
                <th>Actif</th>
                <th>Actions</th>
            </tr>
            <tr th:each="product : ${products}">
                <td th:text="${product.name}"></td>
                <td th:text="${product.category}"></td>
                <td th:text="${product.active} ? 'Oui' : 'Non'"></td>
                <td>
                    <div class="d-flex align-items-center gap-1 mb-3">
                        <a class="btn btn-primary" th:href="@{/admin/produits/{id}/modifier(id=${product.id})}">Modifier</a>

                        <form th:action="@{/admin/produits/{id}/supprimer(id=${product.id})}"
                              method="post">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </div>
                </td>
            </tr>
        </table>
    </section>
</div>
</body>
</html>